<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> <!-- Bootstrap -->
        <link rel="stylesheet" href="../public/css/detail.css"> <!-- Custom CSS -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> <!-- Font -->
        <link rel="icon" href="../public/assets/icons/favicon.ico"> <!-- favicon -->
        <link rel="stylesheet" href="../public/assets/fontawesome/css/all.css"> <!-- fontawesome -->
        <title>Detail Project</title>
    </head>

    <body>

<!-- NAVBAR -->

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="ms-5 me-5" src="../public/assets/icons/logo.png" alt="DumbWays"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link me-5" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/project">Add Project</a>
                    </li>
                </ul>
                <a class="btn btn-dark me-5 py-2 px-4" href="/contact">Contact Me</a>
            </div>
        </div>
    </nav>

<!-- /NAVBAR/ -->


<!-- DETAIL PROJECT -->

    <div class="detailContainer d-flex justify-content-center">
        <div class="detailCard mt-5 p-5 ">
            <h2 class="">Yuji Itadori</h2>
            <hr>
            <div class="d-flex">
                            <div class="left">
                <div class="img-container">
                    <img src="../public/assets/Yuji.jpg" alt="yuji">
                </div>
                <div class="icons">
                    <div>
                        <h4>Duration</h4>
                        <div class="d-flex mb-3">
                            <img class="me-3" src="../public/assets/icons/calendar.png" alt="calendar">
                            <p class="m-0 d-flex align-items-center">
                                20 july 2022 - 27 july 2022
                            </p>
                        </div>
                        <div class="d-flex">
                            <img class="me-3" src="../public/assets/icons/wall-clock.png" alt="calendar">
                            <p class="m-0 d-flex align-items-center">
                                7 Days
                            </p>
                        </div>
                    </div>

                    <div class="mt-4">
                        <h4>Technologies</h4>
                        <div class="d-flex">
                            <div class="me-4">
                                <div class="d-flex mb-3">
                                    <i class="fa-brands fa-python fa-2x me-3"></i>
                                    <p class="m-0 d-flex align-items-center">
                                        Python
                                    </p>
                                </div>
                                <div class="d-flex mb-3">
                                    <i class="fa-brands fa-js fa-2x me-3"></i>
                                    <p class="m-0 d-flex align-items-center">
                                        JavaScript
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div class="d-flex mb-3">
                                        <i class="fa-brands fa-swift fa-2x me-3"></i>
                                        <p class="m-0 d-flex align-items-center">
                                            Swift
                                        </p>
                                    </div>
                                    <div class="d-flex">
                                        <i class="fa-brands fa-node-js fa-2x me-3"></i>
                                        <p class="m-0 d-flex align-items-center">
                                            NodeJs
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right">
                <div class="desc-container">
                    <h3>Description</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ratione, voluptates eos praesentium asperiores architecto qui rerum nam quis quas fuga nihil labore corrupti cumque eum, sed voluptate minima omnis? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid maxime facilis explicabo eius ex laudantium, est dolor totam mollitia ducimus placeat tenetur repellat eum debitis saepe voluptate reprehenderit cumque nostrum! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, et distinctio! Repellat sint quo esse nesciunt aperiam itaque recusandae, in expedita possimus, obcaecati rerum quod illo, perspiciatis dolores eaque aliquam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus quis provident, veniam molestias ex error rem quos, itaque alias repellat tempora reprehenderit commodi distinctio modi neque impedit accusamus voluptas unde? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi a doloribus aliquid ullam cumque suscipit fugit placeat corporis ipsam unde ab, similique modi molestias rem sint facilis. Velit, culpa laborum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, ducimus excepturi! Omnis laboriosam sint numquam ea blanditiis architecto dolorum commodi saepe optio, itaque modi perferendis distinctio. Consequatur sit hic ex. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime voluptate repellat voluptas beatae, nisi libero perferendis inventore necessitatibus dolorem et eveniet aspernatur voluptatum non officiis magni quisquam obcaecati. Explicabo, dicta?
                    </p>
                </div>
            </div>
            </div>
        </div>
    </div>

<!-- /DETAIL PROJECT/ -->

<!-- SCRIPT -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<!-- SCRIPT -->
    </body>

    <footer>
        <div class="p-5">
            <p>
                © Copyright 2022 - Allright Reserved to BlueMetalGD
            </p>
            <div class="test d-flex justify-content-end">
                <p><a href="#">About Us</a></p>
                <p><a href="#">Refferences</a></p>
                <p><a href="#">Contact Us</a></p>
                <p><a href="#">Let's Join</a></p>
            </div>
        </div>
    </footer>
</html>